*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container{
    background-color: black;
    width:100%;
    height:100%;
}
.bar{
    width:100%;
    height:30px;
    background-color: #FCAF02;
    display:flex;
    justify-content:space-between;
    position: sticky;
    top:0;
  
}
.bar-right{
    display: flex;
    gap:1rem;
    font-size:10px;
    margin-top: 10px;
    padding-right: 10px;
   
}
a{
     text-decoration: none;
}

.bar-left{
    padding-left:20px;
    margin-top:7px;
}
.blog{
    width:100%;
    /* background-color: green; */
    display:flex;
    
}
.blog-left{
    width:50%;
    padding:20px ;
    color:white;
}
.blog-right{
    width:50%;
    /* border: 1px solid red; */
    margin-right:35px;
    margin-bottom: 60px;
   
}
.para{
    margin-top: 20px;
    font-size: 15px;
    color:#5F5F5F
}
img{
    width:100%;
    margin-top:70px;
    margin-right:10px;
}
.loginBtn{
    margin-top:20px;
    padding:0%;
    width:90px;
    border-radius: 10px;
    background-color: #FCAF02;
    border:none;
}
.contact{
    /* background-color: green; */
    padding-left: 20px;
    color:#FCAF02;
    height:400px;
}
.box{
    /* background-color: red; */
    margin-left: auto;
    width:100%;
      padding-left:30px;
      margin-top: 40px;
}
.box input{
    width:90%;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 50px;
    border:1px solid #FCAF02;
    margin-bottom: 20px;
    background-color: black;
  
}
.box2{
    /* padding-left: 30px; */
    width:100%;
    /* background-color: blue; */
    display:flex;
    justify-content: space-between;

}
.mobile{
    width:50%;
    /* background-color: brown; */
    padding-left:25px;

}
.city{
    width:50%;
    /* background-color: red; */
    padding-left:16px
}
.box2 input{
    width:80%;
    border-radius: 20px;
    border: 1px solid #FCAF02 ;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom: 10px;
    background-color: black;
}

::placeholder{
    color:#FCAF02;

    padding-left:10px;
    font-size: 10px;
    opacity: 0.2px;
}
.submitBtn{
    margin-left:360px;
    margin-top:50px;
    width:120px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #FCAF02;
    border: none;
    font-weight: 500;
}
.table1{
    background-color:black;
    width:100%;
    color:#FCAF02;
    padding-left:100px;
    padding-top:8px;
    padding-bottom:100px;
    text-align: center;
    

}
table{
    border:1px solid #FCAF02;
    border-collapse: collapse;
    height:200px;
    font-size: 15px;
    width:800px
}
#startup{
    width:150px;
    height:40px;
}
#des{
    width:250px
}
#sno{
    width:60px;
}
table,th{
    border:1px solid #FCAF02;
}
th,td{
    border-right:1px solid #FCAF02;
}

tfoot{
    border:1px solid #FCAF02;
    background-color: #FCAF02;
    color:black;
}